.align{
  margin: 30px;
  display: grid;
  gap: 30px;
  grid-template-rows: auto;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

@media (max-width: 650px) {
  .adaptation{
    width: 70vw;
  }  
}

@media (max-width: 570px) {
  .adaptation{
    width: 65vw;
  }  
}

/*
.align{
  display: grid;
  gap: 15px;
  margin: 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

hay que comentar esto grid-column: 1/2; en TextContent1 y TextContent2
*/