@import '@/app/general.scss';

h2{
  text-align: center;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.page-button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: $bg5;
  cursor: pointer;
}

.page-button.active {
  background-color: $bg2;
}
