@import '@/app/general.scss';

.TextContent1{
  background: $bg3;
  padding: 50px;
  border-radius: 5px;
  grid-row: 1;
  grid-column: 1/2;
}

@media (max-width: 800px) {
  .TextContent2{
    width: 75vw;
    grid-column: 1/4;
  }  
}
